<app-setup-window></app-setup-window>
<div class="outerTabWidget">
  <jqxTabs #tabWidget [height]="'100%'"
           [width]="'100%'" [theme]="activeTheme" (onSelected)="selectAction()">
    <ul>
      <li>Dashboard</li>
      <li>Host Detail</li>
      <li>Setup</li>
    </ul>
    <div class="dash">
      <app-dashboard #dashboard></app-dashboard>
    </div>
    <div>
      <app-host-detail #hostDetail></app-host-detail>
    </div>
    <div>
      <app-setup-form></app-setup-form>
    </div>
  </jqxTabs>
</div>
