<jqxWindow #configDiag [autoOpen]="false" [isModal]="true" [showCloseButton]="false" [keyboardCloseKey]="'null'" [resizable]="false" [draggable]="false" [height]="300" [width]="300" [theme]="activeTheme">
  <div>Data Service Configuration Dialog</div>
  <div align="center">
    <p align="center">Cookies not found in local cache. Please specify a dataservice to connect to.</p>
    <form (ngSubmit)="onSubmit()" #confForm="ngForm">
      <tr>
        <td>
          <label>
            IP:
          </label>
        </td>
        <td>
          <jqxInput class="form-control" id="hostIp" required [(ngModel)]="hostIp" name="hostIp" #name="ngModel" [theme]="activeTheme"
                    pattern="(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)">

          </jqxInput>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div [hidden]="name.valid || name.pristine">
            A valid IP address is required.
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label>
            Port:
          </label>
        </td>
        <td>
          <jqxInput class="form-control" id="hostPort" required [(ngModel)]="hostPort" name="hostPort" #port="ngModel" [theme]="activeTheme"
                    pattern="([1-9][0-9]{0,3}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])">

          </jqxInput>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div [hidden]="port.valid || port.pristine">
            A valid IP address is required.
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <jqxButton type="submit" [disabled]="!confForm.form.valid" [theme]="activeTheme">
            Submit Configuration
          </jqxButton>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          {{context}}
        </td>
      </tr>
    </form>
  </div>
</jqxWindow>
