<div>
  <form (ngSubmit)="onSubmit()" #confForm="ngForm">
    <tr>
      <td colspan="2">
        <p>To update your running configuration, please update the below fields and submit them.</p>
      </td>
    </tr>
    <tr>
      <td>
        <label>
          IP:
        </label>
      </td>
      <td>
        <jqxInput #hostInp class="form-control" id="hostIp" required [(ngModel)]="hostIp" name="hostIp" #name="ngModel" [theme]="activeTheme"
                  pattern="(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)">

        </jqxInput>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div [hidden]="name.valid || name.pristine">
          A valid IP address is required.
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label>
          Port:
        </label>
      </td>
      <td>
        <jqxInput #portInp class="form-control" id="hostPort" required [(ngModel)]="hostPort" name="hostPort" #port="ngModel" [theme]="activeTheme"
                  pattern="([1-9][0-9]{0,3}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])">

        </jqxInput>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div [hidden]="port.valid || port.pristine">
          A valid IP address is required.
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label>Theme Selection:</label>
      </td>
      <td>
        <jqxDropDownList #themeDropdown [source]="source" [theme]="activeTheme">

        </jqxDropDownList>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <jqxButton #submitButton type="submit" [disabled]="!confForm.form.valid" [theme]="activeTheme">
          Submit Changes
        </jqxButton>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        {{context}}
      </td>
    </tr>
  </form>
</div>
