<div class="chart_table">
  <jqxSplitter [height]="'100%'" [width]="'100%'" [theme]="activeTheme">
    <div>
      <jqxSplitter [orientation]="'horizontal'" [height]="'100%'" [width]="'100%'" [theme]="activeTheme">
        <div>
          <jqxChart #cpuTotalChart [title]="'Cluster CPU Utilization'" [height]="'100%'" [width]="'100%'">

          </jqxChart>
        </div>
        <div>
          <jqxChart #netTotalChart [title]="'Cluster Network Bandwidth Utilization'" [height]="'100%'" [width]="'100%'">

          </jqxChart>
        </div>
      </jqxSplitter>
    </div>
    <div>
      <jqxSplitter [orientation]="'horizontal'" [height]="'100%'" [width]="'100%'" [theme]="activeTheme">
        <div>
          <jqxChart #memoryTotalChart [title]="'Cluster Memory Utilization'" [height]="'100%'" [width]="'100%'">

          </jqxChart>
        </div>
        <div>
          <jqxChart #thermalTotalChart [title]="'Cluster Temperature'" [height]="'100%'" [width]="'100%'">

          </jqxChart>
        </div>
      </jqxSplitter>
    </div>
  </jqxSplitter>
</div>
