<div class="main-area">
  <table>
    <tr>
      <td>
        Host:
      </td>
      <td>
        <jqxDropDownList #hostDropDown [theme]="activeTheme" (onSelect)="selectAction()">
        </jqxDropDownList>
      </td>
  </table>
  <jqxChart #cpuCoreChart [title]="'CPU Core Utilization'"
            [height]="'500'" [width]="'100%'">
  </jqxChart>
  <jqxChart #netPacketsChart [title]="'Tx - Rx Packets'"
            [height]="'500'" [width]="'100%'">
  </jqxChart>
  <jqxChart #netBytesChart [title]="'Tx - Rx Bytes'"
            [height]="'500'" [width]="'100%'">
  </jqxChart>
  <jqxChart #voltageChart [title]="'Backplane - CPU Voltages'"
            [height]="'500'" [width]="'100%'">
  </jqxChart>
  <jqxChart #currentChart [title]="'Current Draw'"
            [height]="'500'" [width]="'100%'">
  </jqxChart>
  <jqxChart #ambientTempChart [title]="'Ambient Temperature'"
            [height]="'500'" [width]="'100%'">
  </jqxChart>
</div>
